* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;

  color: #636363;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 500;
  /* line-height: 1.6; */
}
.Overview_interface {
  padding-top: 115px;
}
/* HEADER  */
header {
  width: 100%;
  position: absolute;
}
.header_content nav {
  display: flex;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header a span {
  display: inline-block;
  transition: all 1s;
  text-transform: capitalize;
}
header i {
  font-size: 10px;
}
header a:hover i {
  color: #f55f8d;
  transition: all 0.5s;
}
header a:hover span {
  animation: upToDown 0.3s;
  color: #f55f8d;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.header_content ul {
  list-style: none;
  display: flex;
}
.header_content li {
  display: inline;
  padding: 55px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header_content nav a {
  display: inline;
  text-decoration: none;
  color: #070120;
}
.header_content button {
  position: relative;
  top: 26%;
}
.bgbutton {
  background-image: linear-gradient(
    to right,
    #f56787 0%,
    #f8ab58 51%,
    #f56787 100%
  );

  cursor: pointer;

  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  background-size: 200%;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 16px;
}
.bgbutton:hover {
  background-position: right center;

  color: #fff;
  text-decoration: none;
}

/* INTRO  */
.intro {
  background-image: url(./../img_samar/pic2.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  overflow: hidden;
  padding-top: 180px;
}
.intro_content {
  display: grid;
  grid-template-columns: 60% 40%;
}
.intro_content .intro_left ul {
  list-style: none;
}
.intro_content .intro_left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 50px;
}
.intro_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.intro_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  color: #262626;
  margin-bottom: 20px;
}

.intro_acticle p {
  font-size: 18px;
  margin-bottom: 15px;
}
.intro_acticle ul i {
  background-image: linear-gradient(
    to right,
    #f56787 0%,
    #f8ab58 51%,
    #f56787 100%
  );
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-size: 200%;
  line-height: 35px;
  font-size: 22px;
  margin-right: 10px;
}
.intro_acticle li {
  padding: 10px 5px 10px 0px;
}

/* SERVICES  */
.services {
  background-image: url(./../img_samar/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.services_title {
  text-align: center;
}
.services_title p {
  color: #f55f8d;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}
.services_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.services .services_content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.services .services_item {
  padding: 30px 45px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.services .services_item img {
  width: 70%;
  background-size: cover;
}

.services .services_item h3 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
}
.services_item:hover {
  transform: translateY(-20px);
  border-image: url(./../img_samar/br.png) 8/7px round;
}
/* ABOUT US  */
.aboutUs {
  background-image: url(./../img_samar/bg15.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.aboutUs_content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.aboutUs .aboutUs_left img {
  position: relative;
  top: 85px;
  right: 200px;

  width: 120%;
  height: 70%;
  border-radius: 0 100px 100px 0;
}
.aboutUs .aboutUs_article ul {
  list-style: none;
}

.aboutUs .aboutUs_right .aboutUs_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.aboutUs .aboutUs_right h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  color: #262626;
  margin-bottom: 20px;
}
.aboutUs .aboutUs_article p {
  margin-bottom: 15px;
}

.aboutUs .aboutUs_article ul {
  margin-bottom: 20px;
}

.aboutUs .aboutUs_article i {
  display: inline;
  position: relative;
  top: 3px;
  font-size: 24px;
  line-height: 1.7;
  color: #f55f8d;
  margin-right: 10px;
  font-weight: 395;
}
/* NUMBER  */
.number {
  background-image: url(./../img_samar/bg14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
}
.number .number_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.number .number_item {
  text-align: center;
}
.number .number_item i {
  line-height: 80px;
  font-size: 45px;
  color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0%,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-bottom: 15px;
  display: inline-block;
}

.number .number_item span:first-of-type {
  font-size: 65px;
  font-weight: 700;
  color: #f55f8d;
}
.number .number_item p:nth-child(2) {
  font-size: 65px;
  font-weight: 700;
  color: #f55f8d;
}
.number .number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}

/* FEATURES  */
.features {
  background-image: url(./../img_samar/bg16.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.features .features_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.features .features_left .features_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.features .features_left .features_title h2 {
  font-size: 70px;
  font-weight: 700;
  color: #262626;
  margin-bottom: 20px;
  line-height: 1.1;
}

.features .item_bg {
  display: flex;
  justify-content: flex-start;
  padding: 30px 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);

  position: relative;
}
.features .first_item {
  padding: 0 50px 30px 0;
}
.features .second_item {
  padding: 0 0 30px 50px;
}
.features .last_item {
  padding: 0 50px 30px 0;
}

.features .item_bg::after {
  content: "";
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s;
  opacity: 0;
}
.features .item_bg:hover::after {
  opacity: 0.5;
}
.features .features_bg i {
  color: #f55f8d;
  font-size: 80px;
  line-height: 1.1;
  padding-right: 25px;
  transition: all 0.5s;
  position: relative;
}

.features .features_bg h3 {
  font-weight: 800;
  color: #262626;
  font-size: 24px;
  transition: all 1s;
}

.features .features_bg p {
  font-weight: 400;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
.features .features_right img {
  max-width: 100%;
  animation: move2 5s infinite;
}
/* WORK  */
.work {
  background-image: url(./../img_samar/bg17.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.work .work_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.work .firstItem {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.work .work_item:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.work .work_item:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}
.work .work_item:last-child {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.work .work_title {
  text-align: center;
}
.work .work_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.work .work_title h2 {
  font-size: 70px;
  font-weight: 700;
  color: #262626;
  margin-bottom: 20px;
  line-height: 1.1;
}
.work .work_title {
  z-index: 3;
  border-radius: 20px;
}

.work .work_item img {
  width: 100%;
  height: 100%;
}
.work .work_item {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.work .work_overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.work .work_overlay:hover::before {
  left: 125%;
}

.work .work_item {
  position: relative;
  border-radius: 10px;
}
.work .work_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
  flex-direction: column;
  border-radius: 10px;
}
.work .work_item:hover .work_overlay {
  opacity: 1;
}
.work .work_overlay .overlay_icon {
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
  opacity: 0;
}
.work .work_item:hover .overlay_icon {
  transform: translateY(0);
}
.work .work_overlay:hover .overlay_icon {
  transition: all 0.75s;
  opacity: 1;
}

.work .overlay_icon i {
  font-size: 40px;
}
.work .overlay_text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
  transform: translateY(80px);
  overflow: hidden;
  transition: all 0.75s;
}
.work .overlay_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}
.work .overlay_text p {
  color: #fff;
  opacity: 0.7;
}

.work .work_item:hover .overlay_text {
  transform: translateY(0);
}
/* BLOG  */
.blog {
  background-image: url(./../img_samar/bg16.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.blog .blog_item {
  padding: 15px;
  cursor: grab;
}
.blog .blog_title {
  text-align: center;
}
.blog .blog_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.blog .blog_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.blog .item_bg {
  background: rgba(245, 95, 141, 0.1);
  text-align: left;
  border-radius: 8px;
}
.blog .blog_img {
  position: relative;
}
.blog .blog_img img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
.blog .blog_img p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog .blog_article {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog .blog_article h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog .blog_comments {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog .blog_comments p {
  display: flex;
  display: inline;
  flex-direction: row;
  margin-right: 20px;
  color: #f55f8d;
}
.blog .blog_comments span {
  color: #636363;
}

.blog .blog_comments i {
  display: inline;
  font-size: 22px;
}
/* FOOTER  */
footer {
  background-color: #0e1b1f;
}

footer .overLaySum {
  background-image: url(./../img_samar/pattern2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
footer .footer_head {
  background-color: #fff;
  padding: 50px 60px;
  background-image: url(./../img_samar/pattern3.png);
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
footer .footer_overLay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .footer_title h2 {
  position: relative;
  font-size: 28px;
  color: #262626;
}
footer .footer_infor {
  display: flex;
  justify-content: flex-end;
}
footer .footer_infor input {
  width: 80%;
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
}
footer .footer_infor input:hover {
  border-color: #f56389;
}
footer .footer_infor input:focus {
  border-color: #f56389;
}
footer .footer_infor button {
  width: 20%;
  background-image: linear-gradient(
    to right,
    #f56787 0%,
    #f8ab58 51%,
    #f56787 100%
  );

  cursor: pointer;

  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  background-size: 200%;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  padding: 20px 35px;
  border-radius: 0 8px 8px 0;
  border: 1px solid transparent;
  font-size: 16px;
}

footer .footer_infor button:hover {
  background-position: right center;

  color: #fff;
  text-decoration: none;
}
footer .footer_infor i {
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 1s;
  text-transform: capitalize;
}
footer .footer_infor i {
  font-size: 20px;
}
footer .footer_infor i:hover {
  transition: all 0.5s;
  animation: leftToRight 0.7s;
}

@keyframes leftToRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
footer .footer_bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 70px 0;
}
footer .footer_bottom .footer_contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
}
footer .footer_bottom .footer_contact p {
  display: flex;
  margin-right: 8px 0;
  color: #fff;
}

footer .footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

footer .footer_item ul {
  list-style: none;
}
footer .footer_item li {
  padding: 8px 0;
}
footer .footer_item a:hover {
  color: #fff;
}

footer .footer_item a {
  text-decoration: none;
  display: inline;
  color: #636363;
  transition: all 0.5s;
}
footer .footer_item i {
  margin-right: 10px;
}

footer .footer_item {
  text-transform: capitalize;
}

.footer_item h3::before,
.footer_item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-bottom: 10px;
}
.footer_item h3::before {
  width: 15px;
}
.footer_item h3::after {
  width: 45px;
  left: 20px;
}

/* FOOTER COPYRIGHT  */
.footer_left {
  color: #fff;
  font-weight: 400;
}
.footer_left span {
  color: #e85f8d;
}
.footer_copyRight {
  padding: 10px 0;
  background-color: #1f343b;
  position: relative;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_copyRight a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer_right a:hover {
  color: #fff;
  background-color: #f55f8d;
}
/* BACK TO TOP  */
.back_to_top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #f55f8d;
  padding: 20px;
  color: white;
  border-radius: 8px;
  display: block;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  line-height: 0px;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
